.navbar{
    display: flex;
    margin-left: 60rem;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-right: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 94vw;
}

.header h1 {
    margin-right: auto;
    font-size: 1.5rem;
}